.ul-list-item {
    border: 5px solid #4e5eff;
    color: #1b1b1b;
    display: inline-block;
    list-style: none;
    margin: 20px;
    overflow-wrap: break-word;
    padding: 5px 10px;
    vertical-align: top;
    width: 180px;
}
