.comment-text:after,
.comment-text:before {
    border-style: solid;
    border-width: 20px 20px 20px 0;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    top: 10px;
    width: 0;
}

.comment-text:after {
    border-color: transparent white;
    left: -17px;
}

.comment-text:before {
    border-color: transparent #4e5eff;
    left: -25px;
}

.comment-text {
    border: 5px solid #4e5eff;
    display: inline-block;
    margin-left: 35px;
    padding: 10px 15px;
    position: relative;
}

.comment-image {
    display: table-cell;
    vertical-align: top;
}

.comment {
    display: table;
    padding-top: 10px;
}