<meta charset="utf-8">
<link rel="stylesheet" href="css/task5.css"/>

<li class="ul-list-item">Я так счастлив, мой друг, так упоен ощущением покоя, что
    искусство мое страдает от этого. Ни одного штриха не мог бы я сделать, а никогда не
    был таким большим художником, как в эти минуты
<li class="ul-list-item">Проснувшись однажды утром после беспокойного сна, Грегор Замза
    обнаружил, что он у себя в постели превратился в страшное насекомое
<li class="ul-list-item">Он собрал семь своих заглавных букв, подпоясал инициал за пояс и
    пустился в дорогу. Взобравшись на первую вершину курсивных гор, бросил он последний
    взгляд назад, на силуэт своего родного города Буквоград
<li class="ul-list-item"> porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem
    ante, dapibus in,
    viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.

    augue velit cursus nunc,
<li class="ul-list-item">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
    dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
    nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium


<li class="ul-list-item">Далеко-далеко за словесными горами в стране гласных и согласных
    живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика
    большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает
    ее всеми необходимыми правилами. Эта
<li class="ul-list-item">Единственное, что от меня осталось, это приставка «и».
    Возвращайся ты лучше в свою безопасную страну». Не послушавшись рукописи, наш текст
    продолжил свой путь. Вскоре ему повстречался коварный составитель
<li class="ul-list-item">Душа моя озарена неземной радостью, как эти чудесные весенние
    утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем
    краю, словно созданном для таких, как я
<li class="ul-list-item">Я так счастлив, мой друг, так упоен ощущением покоя, что
    искусство мое страдает от этого. Ни одного штриха не мог бы я сделать, а никогда не
    был таким большим художником, как в эти минуты
<li class="ul-list-item">Затем взгляд Грегора устремился в окно, и пасмурная погода –
    слышно было, как по жести подоконника стучат капли дождя – привела его и вовсе в
    грустное настроение.
<li class="ul-list-item">Его многочисленные, убого тонкие по сравнению с остальным телом
    ножки беспомощно копошились у него перед глазами. «Что со мной случилось?» – подумал
    он. Это не было сном
<li class="ul-list-item">Замза был коммивояжером, – висел портрет, который он недавно
    вырезал из иллюстрированного журнала и вставил в красивую золоченую рамку.


