<meta charset="utf-8">
<link rel="stylesheet" href="css/task4.css"/>

<div id="parent">
    <div id="child">
            <span class="ul-text">
            Товарищи! новая модель организационной деятельности требуют от нас анализа позиций,
            занимаемых участниками в отношении поставленных задач. Повседневная практика
            показывает, что реализация намеченных плановых заданий обеспечивает широкому кругу
            (специалистов) участие в формировании направлений прогрессивного развития.
            С другой стороны консультация с широким активом обеспечивает широкому кругу
            (специалистов) участие в формировании направлений прогрессивного развития. Равным
            образом постоянное информационно-пропагандистское обеспечение нашей деятельности
            позволяет выполнять важные задания по разработке новых предложений. Задача
            организации, в особенности же новая модель организационной деятельности требуют
            определения и уточнения направлений прогрессивного развития. Товарищи! дальнейшее
            развитие различных форм деятельности играет важную роль в формировании форм развития.
            </span>
    </div>

</div>

