<meta charset="utf-8">
<script src="js/libs/jquery-1.11.1.min.js"></script>
<script src="js/task1.js"></script>
<script src="js/task2.js"></script>
<script src="js/task3.js"></script>
<form id="form1">
    <p><input type="radio" name="answer" value="a1">Офицерский состав<Br>
        <input type="radio" name="answer" value="a2">Операционная система<Br>
        <input type="radio" name="answer" value="a3">Большой полосатый мух</p>
    <INPUT TYPE="checkbox" NAME="food" VALUE="Пельмени"> Пельмени <BR>
    <INPUT TYPE="checkbox" NAME="food" VALUE="Голубцы"> Голубцы <BR>
    <INPUT TYPE="checkbox" NAME="food" VALUE="Котлеты" CHECKED> Котлеты <BR>
    <p><input placeholder="Ваше имя" name="user"></p>
</form>

<form id="form2">

    <p><input type="radio" name="answer" value="a1">Офицерский состав<Br>
        <input type="radio" name="answer" value="a2">Операционная система<Br>
        <input type="radio" name="answer" value="a3">Большой полосатый мух</p>
    <p><input placeholder="Ваше имя" name="user"></p>
    <p><input placeholder="Ваша фамиия" name="lastname"></p>
    <p><select size="3" multiple name="hero[]">
        <option disabled>Выберите героя</option>
        <option value="Чебурашка">Чебурашка</option>
        <option selected value="Крокодил Гена">Крокодил Гена</option>
        <option value="Шапокляк">Шапокляк</option>
        <option value="Крыса Лариса">Крыса Лариса</option>
    </select></p>
</form>
<button id="compare">Сравнить</button>
        <div id="compare-result"></div>
        <script>
            $(function(){
               $('#compare').on('click', function(e){
                   var $form1 = $('#form1'),
                       $form2 = $('#form2');
                   /**
                    *
                    * @type {CompareResult}
                    */
                  var compareResult =  compareForms($form1, $form2),
                      html = '';
                   if(compareResult.added.length){
                       html += '<div>Добавлены: '+ compareResult.added.join(', ')+'</div>';
                   }
                   if(compareResult.deleted.length){
                       html += '<div>Удалены: '+ compareResult.deleted.join(', ')+'</div>';
                   }
                   if(compareResult.changed.length){
                       html += '<div>Изменены: '+ compareResult.changed.join(', ')+'</div>';
                   }
                   if(compareResult.equals.length){
                       html += '<div>Идеентичны: '+ compareResult.equals.join(', ')+'</div>';
                   }
                   $('#compare-result').html(html);
               })
            });

        </script>