<meta charset="utf-8">
<link rel="stylesheet" href="css/task6.css"/>
<head>
    <meta charset="utf-8">
</head>

<body>
<li class="comment">
    <div class="comment-image">
        <img src="img/zoe.jpg" alt="">
    </div>
    <div class="comment-text">
        Thanks for posting this article. Lots of good info. The only thing I still don't
        really understand
        is why these blog comments are so plain. Why don't you apply some CSS3 and jazz
        them up?
        Thanks for posting this article. Lots of good info. The only thing I still don't
        really understand
        is why these blog comments are so plain. Why don't you apply some CSS3 and jazz
        them up?
        Thanks for posting this article. Lots of good info. The only thing I still don't
        really understand
        is why these blog comments are so plain. Why don't you apply some CSS3 and jazz
        them up?
        Thanks for posting this article. Lots of good info. The only thing I still don't
        really understand
        is why these blog comments are so plain. Why don't you apply some CSS3 and jazz
        them up?
    </div>
</li>
<li class="comment">
    <div class="comment-image">
        <img src="img/cary.jpg">
    </div>
    <div class="comment-text">
        Thanks for posting this article. Lots of good info. The only thing I still don't
        really understand
        is why these blog comments are so plain. Why don't you apply some CSS3 and jazz
        them up?
        Thanks for posting this article. Lots of good info. The only thing I still don't
        really understand
        is why these blog comments are so plain. Why don't you apply some CSS3 and jazz
        them up?
        Thanks for posting this article. Lots of good info. The only thing I still don't
        really understand
        is why these blog comments are so plain. Why don't you apply some CSS3 and jazz
        them up?
        Thanks for posting this article. Lots of good info. The only thing I still don't
        really understand
        is why these blog comments are so plain. Why don't you apply some CSS3 and jazz
        them up?
    </div>
</li>
<li class="comment">
    <div class="comment-image">
        <img src="img/faith.jpg" alt="">

    </div>
    <div class="comment-text">
        Thanks for posting this article. Lots of good info. The only thing I still don't
        really understand
        is why these blog comments are so plain. Why don't you apply some CSS3 and jazz
        them up?
        Thanks for posting this article. Lots of good info. The only thing I still don't
        really understand
        is why these blog comments are so plain. Why don't you apply some CSS3 and jazz
        them up?
        Thanks for posting this article. Lots of good info. The only thing I still don't
        really understand
        is why these blog comments are so plain. Why don't you apply some CSS3 and jazz
        them up?
        Thanks for posting this article. Lots of good info. The only thing I still don't
        really understand
        is why these blog comments are so plain. Why don't you apply some CSS3 and jazz
        them up?
        Thanks for posting this article. Lots of good info. The only thing I still don't
        really understand
        is why these blog comments are so plain. Why don't you apply some CSS3 and jazz
        them up?
        Thanks for posting this article. Lots of good info. The only thing I still don't
        really understand
        is why these blog comments are so plain. Why don't you apply some CSS3 and jazz
        them up?
        Thanks for posting this article. Lots of good info. The only thing I still don't
        really understand
        is why these blog comments are so plain. Why don't you apply some CSS3 and jazz
        them up?
    </div>
</li>
</body>
</html>

