<script src="js/task1.js"></script>
<script src="js/task2.js"></script>
<script>
//    var httpRequest = new MockHttpRequest([], 'http://yandex.ru?param1=value1&param2=value2');
//    addQueryParams('site.ru', httpRequest);
//    var httpRequest2 = new MockHttpRequest([], 'http://yandex.ru?param1=value1&ff2=fd2');
//    addQueryParams('site2.ru?fdsdfds=222', httpRequest2);
//    var httpRequest3 = new MockHttpRequest([], 'http://yandex.ru');
//    addQueryParams('site2.ru?', httpRequest3);
</script>